<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="connectionMaker" class="springbook.user.dao.DConnectionMaker"/>

    <bean id="userDao" class="springbook.user.dao.UserDao">
        <property name="connectionMaker" ref="connectionMaker"/>
    </bean>
</beans>
<!--
<beans> : @Configuration
<bean> : @Bean

<bean> 옵션
- id : 메소드 이름
- class : 패키지까지 모두 포함하고, 메소드에서 오브젝트를 만들 때 사용하는 클래스 이름

<property> : 의존 오브젝트와의 관계 정의
- name : 프로퍼티 이름
- ref : 수정자 메소드를 통해 주입해줄 오브젝트의 빈 이g
-->